<div>
  <div id="title">
    <h1>{{title}}</h1>
  </div>

  <div id="enter-todo">
    <input type="text" placeholder="Enter a todo" [(ngModel)]="todoValue" (keyup.enter)="addItem()"/>
    <button (click)="addItem()">Add</button>
  </div>

  <div id="display-todo">
      <ul>
        <li *ngFor="let item of list">
        <input type="checkbox" [(ngModel)]="item.isDone"/>
        {{item.value}}
        <button (click)="deleteItem(item.id)">Delete</button>
        </li>
      </ul>
  </div>
</div>