#title{
    margin: 10px;
    padding: 10px;
    border: 3px dotted coral;
    text-align: center;
}

#enter-todo{
    margin: 10px;
    padding: 10px;
    border: 3px dotted aqua;
    text-align: center;
    
}

#display-todo{
    margin: 10px;
    padding: 10px;
    border: 3px dotted pink;
    text-align: center;
}

button{
    margin: 5px;
    padding: 5px;
    height: 40px;
    width: 80px;
    border-radius: 10px;
}

input[type=text]{
    margin: 5px;
    padding: 5px;
    line-height: 30px;
    width: 300px;
    border-radius: 10px;
    text-indent: 5px;
}

li{
    list-style: none;
}